<div class="container-fluid">
    <div class="row-fluid">
        <div class="span3" id="sidebar">
            <ul class="nav nav-list bs-docs-sidenav nav-collapse collapse">
                <li class="active">
                   <a href="/"><i class="icon-chevron-right"></i> Dashboard</a>
                </li>
                <li>
                   <a href="calendar.html"><i class="icon-chevron-right"></i> Calendar</a>
                </li>
                <li>
                   <a href="stats.html"><i class="icon-chevron-right"></i> Statistics (Charts)</a>
                </li>
            </ul>
        </div>



