<!DOCTYPE html>
<html>
<head>
  <title>Aircel Report</title>
  <%= csrf_meta_tags %>
</head>
<style>
 #header {margin:10px;height:50px;border-bottom:1px solid black;}
 #user {float:right;font-size: 25px;}
 .body_data {font-size:12px;font-weight:bold;margin:50px;font-family: 'Sansation', sans-serif;}
 body { margin-top:100px;padding-bottom: 70px;font-family: 'Sansation', sans-serif; }
</style>

<body>
<%= yield %>
</body>
